In [20]:
# Read in weather data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact, IntSlider

df_weather = pd.read_csv('weather - 286_40.75_t2m_1d.csv')

In [21]:
df_weather.head()

                 time  longitude  latitude      Ktemp
0  1950-01-01 9:00:00        286     40.75  274.39734
1  1950-01-02 9:00:00        286     40.75  277.07593
2  1950-01-03 9:00:00        286     40.75  280.80090
3  1950-01-04 9:00:00        286     40.75  287.14010
4  1950-01-05 9:00:00        286     40.75  285.65262

In [22]:
#describe the data
print(df_weather.describe())
print(df_weather.info())

       longitude  latitude         Ktemp
count    26298.0  26298.00  26298.000000
mean       286.0     40.75    285.209355
std          0.0      0.00      9.644636
min        286.0     40.75    254.882740
25%        286.0     40.75    277.338368
50%        286.0     40.75    285.587295
75%        286.0     40.75    293.951905
max        286.0     40.75    305.402340
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26298 entries, 0 to 26297
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       26298 non-null  object
 1   longitude  26298 non-null  int64
 2   latitude   26298 non-null  float64
 3   Ktemp      26298 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 821.9+ KB
None

In [23]:
#convert Ktemp  to Ftemp
df_weather['Ftemp'] = (df_weather['Ktemp'] - 273.15) * (9/5) + 32
print(df_weather.head())

                 time  longitude  latitude      Ktemp      Ftemp
0  1950-01-01 9:00:00        286     40.75  274.39734  34.245212
1  1950-01-02 9:00:00        286     40.75  277.07593  39.066674
2  1950-01-03 9:00:00        286     40.75  280.80090  45.771620
3  1950-01-04 9:00:00        286     40.75  287.14010  57.182180
4  1950-01-05 9:00:00        286     40.75  285.65262  54.504716

In [24]:
# Convert the date to datetime format and extract the month and year
df_weather['Year'] = pd.to_datetime(df_weather['time']).dt.year
df_weather['Month'] = pd.to_datetime(df_weather['time']).dt.month
#check converted date
print(df_weather.head(5))

                 time  longitude  latitude      Ktemp      Ftemp  Year  Month
0  1950-01-01 9:00:00        286     40.75  274.39734  34.245212  1950      1
1  1950-01-02 9:00:00        286     40.75  277.07593  39.066674  1950      1
2  1950-01-03 9:00:00        286     40.75  280.80090  45.771620  1950      1
3  1950-01-04 9:00:00        286     40.75  287.14010  57.182180  1950      1
4  1950-01-05 9:00:00        286     40.75  285.65262  54.504716  1950      1

In [25]:
monthly_avg = df_weather.groupby(['Year', 'Month'])['Ftemp'].mean().reset_index()
print(monthly_avg.head(5))

   Year  Month      Ftemp
0  1950      1  39.994274
1  1950      2  31.838770
2  1950      3  35.444411
3  1950      4  47.381065
4  1950      5  57.668071

In [26]:
import matplotlib.pyplot as plt
from ipywidgets import interact, IntSlider
import seaborn as sns

# Use Seaborn to improve the aesthetics
sns.set_style("whitegrid")

def plot_yearly_avg_temp(year):
    data = monthly_avg[monthly_avg['Year'] == year]
    yearly_avg = data['Ftemp'].mean()  # calculate yearly average temperature
    
    plt.figure(figsize=(12, 6))
    # Customize the plot color and marker
    plt.plot(data['Month'], data['Ftemp'], marker='o', linestyle='-', color='deepskyblue', label='Monthly Avg Temp')
    # Add a line for yearly average temperature with customization
    plt.axhline(y=yearly_avg, color='darkorange', linestyle='--', label=f'Yearly Avg: {yearly_avg:.2f}°F')
    
    # Enhance the text for yearly average temperature
    plt.text(1, yearly_avg + 0.5, f'Yearly Avg: {yearly_avg:.2f}°F', fontsize=12, color='darkorange', verticalalignment='bottom')
    
    plt.title(f'Average Monthly Temperature in {year}', fontsize=14, fontweight='bold')
    plt.xlabel('Month', fontsize=12)
    plt.ylabel('Average Temperature (°F)', fontsize=12)
    
    # Customize ticks for better readability
    plt.xticks(ticks=range(1, 13), labels=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
    plt.yticks(fontsize=10)
    
    plt.legend()
    plt.tight_layout()  # Adjust layout to not cut off labels
    plt.show()

# Assuming 'monthly_avg' is your DataFrame
interact(plot_yearly_avg_temp, year=IntSlider(min=monthly_avg['Year'].min(), max=monthly_avg['Year'].max(), step=1, description='Select Year:'))

interactive(children=(IntSlider(value=1950, description='Select Year:', max=2021, min=1950), Output()), _dom_c…

## Part B ##
Based on the graph above, 1953 is the first year with an yearly average above 55 degrees. It became warm (above 55 degrees) during early April that year.

##